<div class="container" *ngIf="!changed">
  <h1>SVG-Icon-Sprite <small>Demo</small></h1>

  <h2>The Basics <small>(reference, width and styling)</small></h2>

  <p>To display the icons in original size match the <code>[width]</code> and <code>[height]</code> with the width/height of the equivalent SVG.
  To access the inner SVG properties like fill or stroke use <code>::ng-deep</code></p>

  <ul class="vertical">
    <li>
      <div class="icon-row icon-examples-1">
        <svg-icon-sprite src="star_100x100" [width]="'100px'"></svg-icon-sprite>
      </div>
      <pre>&lt;svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100'" [width]="'100px'"&gt;&lt;/svg-icon&gt;

.icon-example {{ '{' }}
  color: darkred;
{{ '}' }}</pre>
    </li>
    <li>
      <div class="icon-row icon-examples-2">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#delete_70x70'" [width]="'70px'" [height]="'65px'"></svg-icon-sprite>
      </div>
      <pre>&lt;svg-icon-sprite [src]="'assets/sprites/sprite.svg#delete_70x70'" [width]="'70px'" [height]="'65px'"&gt;&lt;/svg-icon&gt;</pre>
    </li>
    <li>
      <div class="icon-row icon-examples-3">
        <svg-icon-sprite [src]="'star_100x100_viewbox'" [width]="'100px'" [classes]="'css-styled-icon'"></svg-icon-sprite>
      </div>
      <pre>&lt;svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100'" [classes]="'css-styled-icon'" [width]="'100px'"&gt;&lt;/svg-icon&gt;

.container ::ng-deep svg.css-styled-icon {{ '{' }}
  use {{ '{' }}
    fill: orange;
    stroke: black;
  {{ '}' }}
{{ '}' }}</pre>
    </li>
  </ul>


  <h2 id="scaling">Scaling <small>(using CSS transform)</small></h2>

  <p>Use this pattern if you want to change the size of the original SVG. Apply same rules as above, wrap the SVG into a div and size it using CSS transforms.</p>

  <ul class="vertical">
    <li>
      <div class="icon-row icon-examples-2">
        <div class="icon-scale-down" style="padding-bottom: 20px;">
          <svg-icon-sprite [src]="'assets/sprites/sprite.svg#delete_70x70'" [width]="'70px'"></svg-icon-sprite>
        </div>
      </div>
      <pre>
.icon-scale-down {{ '{' }}
  // Scale down by 50%
  transform: scale(0.5);
{{ '}' }}
      </pre>
    </li>
    <li>
      <div class="icon-row icon-examples-4" style="height: 0;">
        <div class="icon-scale-up">
          <svg-icon-sprite [src]="'assets/sprites/sprite.svg#circle_24x24-viewbox'" [width]="'24px'"></svg-icon-sprite>
        </div>
      </div>
      <pre>
.icon-scale-up {{ '{' }}
  // Scale up by 500%
  transform: scale(5);
{{ '}' }}
      </pre>
    </li>
  </ul>

  <h2 id="viewBox">Scaling <small>(using viewBox)</small></h2>

  This is an alternative to the CSS scaling method presented above. Scaling via <code>viewBox</code> is <strong>less consistent across browsers</strong>.
  The pattern depends on your SVG source file, whether it already contains a <code>viewBox</code> or not.
  The following example SVGs with an original size of <code>100x100px</code> are scaled down by 50%.

  <ul class="vertical">
    <li>
      <div class="icon-row icon-examples-2">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100'" [width]="'100px'" [viewBox]="'-50 -50 200 200'"></svg-icon-sprite>
      </div>
      <pre>
&lt;!-- SVG source lacks a viewBox --&gt;
&lt;svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100'" [width]="'100px'" [viewBox]="'-50 -50 200 200'"&gt;&lt;/svg-icon&gt;
      </pre>
    </li>
    <li>
      <div class="icon-row icon-examples-3">
        <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100_viewbox'" [width]="'50px'" [viewBox]="'0 0 100 100'"></svg-icon-sprite>
      </div>
      <pre>
&lt;!-- SVG source contains a viewBox --&gt;
&lt;svg-icon-sprite [src]="'assets/sprites/sprite.svg#star_100x100_viewbox'" [width]="'50px'" [viewBox]="'0 0 100 100'"&gt;&lt;/svg-icon&gt;
      </pre>
    </li>
  </ul>

  <h2 id="defaultpath">Default sprite path <small>(using the icon sprite service)</small></h2>

  Set the sprite path in your <code>environment.ts</code> and set the default path using <code>forRoot()</code>. Now you
  can invoke the component and simply pass the plain icon name as <code>[src]</code>.

  <ul class="vertical">
    <li>
      <div class="icon-row" style="padding-top: 30px">
        <svg-icon-sprite [src]="'delete_70x70'" [width]="'100px'"></svg-icon-sprite>
      </div>
      <div class="pre-vertical">
        <pre>
import {{ '{' }} IconSpriteModule {{ '}' }} from 'ng-svg-icon-sprite';
import {{ '{' }} environment {{ '}' }} from '../environments/environment';

@NgModule({{ '{' }}
  imports: [
    IconSpriteModule.forRoot({{ '{' }} path: environment.spritePath {{ '}' }})
</pre>
        <pre style="height: 25px;">&lt;svg-icon-sprite [src]="'star_100x100'" [width]="width"&gt;&lt;/svg-icon&gt;</pre>
      </div>
    </li>
  </ul>

  <p>
    <strong>Optional:</strong> to change the sprite path during runtime, inject the <code>iconSpriteService</code> anywhere and execute <code>this.iconSpriteService.setPath('new-path.svg')</code>
    Re-render all icon-components afterwards!
    &nbsp;
    <button (click)="changeDefaultSpritePath(); changeDone = true;" [disabled]="changeDone">Change and render</button>
  </p>

  <h2 id="manipulation">Manipulation <small>(using dynamic icon path)</small></h2>

  <button (click)="changeIconPath(iconSprite.src)">Change Icon Path</button>
  <button [disabled]="iconSprite.width.split('px')[0] <= 20" (click)="changeIconSizeMinus(iconSprite.width)">Size -</button>
  <button (click)="changeIconSizePlus(iconSprite.width)">Size +</button>
  <input #colorInput type="text" value="blue">
  <button (click)="changeIconColor(colorInput.value)">Set color</button>

  <ul class="vertical">
    <li class="icon-change-size">
      <div class="icon-row" [style.color]="color">
        <svg-icon-sprite #iconSprite [src]="'assets/sprites/sprite.svg#' + icon" [width]="width" [viewBox]="'0 0 100 100'"></svg-icon-sprite>
      </div>
      <pre style="height: 30px;">&lt;svg-icon-sprite [src]="icon" [width]="width" [viewBox]="'0 0 100 100'"&gt;&lt;/svg-icon&gt;</pre>
    </li>
  </ul>

  <h2 id="a11y">Accessible example <small>(meaningful icon pattern)</small></h2>

  <ul class="vertical">
    <li>
      <div class="icon-row icon-examples-5">
        <svg-icon-sprite
          [src]="'star_100x100'"
          [width]="'100px'"
          [title]="'Orange star'"
          [attribute]="[['aria-labelledby', 'star_100x100-title'], ['role', 'img']]"></svg-icon-sprite>
      </div>
      <pre>
&lt;svg-icon-sprite
      [src]="'star_100x100'"
      [title]="'Orange star'"
      [attribute]="[['aria-labelledby', 'star_100x100-title'], ['role', 'img']]"
&gt;&lt;/svg-icon&gt;
      </pre>
    </li>
  </ul>

  Adding <code>[title]="'Orange star'"</code> will render <code>&lt;title id="star_100x100-title"&gt;Orange star&lt;/title&gt;</code> as the first child of the SVG node and serve as alternative text for screen readers.
  To improve support, you can additionally reference the title's node via <code>'aria-labelledby'</code> using the title's generated id <code>star_100x100-title</code> and set the <code>role</code> to <code>img</code>.

  <h2 id="multicolor">Multicolor Icons</h2>

  If you want to include an multicolor icon, you will have to provide it form a separate sprite file (where the fill and stroke attributes are not stripped).
  Remember that you will not be able to overwrite styles via CSS.

  <ul class="vertical">
    <li>
      <div class="icon-row icon-examples-6">
        <svg-icon-sprite [src]="'assets/sprites/image-sprite.svg#multicolor-image'" [width]="'250px'"></svg-icon-sprite>
      </div>
      <pre style="height: 30px;">&lt;svg-icon-sprite [src]="'assets/sprites/image-sprite.svg#multicolor-image'"&gt;&lt;/svg-icon&gt;</pre>
    </li>
  </ul>

  <p>
    Report bugs or feature requests on <a href="https://github.com/jannicz/ng-svg-icon-sprite/issues">Github Issues</a>
  </p>

  <ul>
    <li>
      <a href="https://github.com/jannicz/ng-svg-icon-sprite">
        <strong>ng-svg-icon-sprite sources on Github</strong>
      </a>
    </li>
    <li>
      <a href="https://www.npmjs.com/package/ng-svg-icon-sprite">
        <strong>ng-svg-icon-sprite package on npm</strong>
      </a>
    </li>
  </ul>

  <p>
    <small>Copyright Jan Suwart, MIT license</small>
  </p>
</div>
