@keyframes mymove {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(2px); }
  75%  { transform: translateX(0); }
  100% { transform: translateX(-2px); }
}

.icon-examples-1 {
  // Use color property for overriding default color and hover effect
  color: darkred;
  transition: transform ease-in-out 0.2s;
  transform-origin: center center;

  &:hover, &:focus {
    color: red;
    transform: rotate(12deg);
  }
}

.icon-examples-2 {
  color: darkgreen;
  transition: color ease-in-out 0.4s;

  &:hover, &:focus {
    color: limegreen;
  }
}

.icon-examples-3 {
  transition: transform ease-in-out 0.2s;
  transform-origin: center center;

  &:hover, &:focus {
    transform: scale(1.1);
  }
}

.icon-examples-4 {
  color: magenta;

  &:hover, &:focus {
    color: indigo;
    transition: color ease-in-out 0.2s;
    animation: mymove 0.3s infinite linear;
  }
}

.icon-scale-down {
  // Scale down by 50%
  transform: scale(0.5);
}

.icon-scale-up {
  // Scale up by 400%
  transform: scale(4);
}

// Access the SVG via ::ng-deep selector, does not work in Firefox
.container {
  ::ng-deep {
    svg.css-styled-icon {
      use {
        fill: orange; /* evergreen browser symbol styling */
        stroke: black;
      }
    }
  }
}

.icon-change-size {
  ::ng-deep {
    svg {
      transition: all linear 0.2s;
      transform-origin: top center;
    }
  }
}
