<div class="container">
  <h1>
    {{ title }} <small>(package development app)</small>
  </h1>

  <p>
    Angular package format that provides both a solution for generating sprites and a component for including them.
  </p>

  <a href="https://github.com/jannicz/ng-svg-icon-sprite">
    <strong>ng-svg-icon-sprite source on Github</strong>
  </a>

  <h2>Usage</h2>

  <p>
    run <code>npm run create-icon-sprite</code> to create a sprite out of your SVG icons,
    then run <code>npm run packagr</code> to create the svg-icon-sprite package that will appear in the dist folder.
  </p>

  <h2>Basic Examples</h2>

  <ul>
    <li style="color: darkred;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star'" [width]="'100px'"></svg-icon-sprite>
      <span>red, 100px</span>
    </li>
    <li style="color: darkgreen;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#delete'" [width]="'90px'" [height]="'80px'"></svg-icon-sprite>
      <span>green, 90px</span>
    </li>
    <li>
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star'" [classes]="'some-icon-class'"></svg-icon-sprite>
      <span>global styles by <code>::ng-deep</code><br>orange, 75px</span>
    </li>
  </ul>


  <h2>ViewBox Example</h2>
  <ul>
    <li style="color: magenta;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star-no-viewBox'" [width]="'80px'" [viewBox]="'0 0 24 24'"></svg-icon-sprite>
      <span>magenta 80px,<br>viewBox <code>'0 0 24 24'</code></span>
    </li>
  </ul>

  <p>
    Report bugs or feature requests on <a href="https://github.com/jannicz/ng-svg-icon-sprite/issues">Github Issues</a>
  </p>
  <p>
    <small>Copyright Jan Suwart, MIT license</small>
  </p>
</div>
