@keyframes mymove {
  0%   { transform: translateX(0); }
  50%  { transform: translateX(2px); }
  75%  { transform: translateX(0); }
  100% { transform: translateX(-2px); }
}

@keyframes pulse {
  0% {
    color: #24292e;
  }
  50% {
    color: #B03A2E;
  }
  100% {
    color: #24292e;
  }
}

.icon-examples-1 {
  // Use color property for overriding default color and hover effect
  color: darkred;
  transition: transform ease-in-out 0.2s;
  transform-origin: center center;

  &:hover, &:focus {
    color: red;
    transform: rotate(12deg);
  }
}

.icon-examples-2 {
  color: darkgreen;
  transition: color ease-in-out 0.4s;

  &:hover, &:focus {
    color: limegreen;
  }
}

.icon-examples-3 {
  transition: transform ease-in-out 0.2s;
  transform-origin: center center;

  &:hover, &:focus {
    transform: scale(1.1);
  }
}

.icon-examples-4 {
  color: darkred;

  &:hover, &:focus {
    color: brown;
  }
}

.icon-examples-5 {
  color: darkorange;
  transition: color ease-in-out 0.1s;

  &:hover, &:focus {
    color: darkgoldenrod;
  }
}

.icon-examples-6 {
  transition: transform ease-in-out 0.1s;
  transform-origin: center center;

  &:hover, &:focus {
    transform: rotateY(30deg);
  }
}

.icon-scale-down {
  // Scale down by 50%
  transform: scale(0.5);
}

.icon-scale-up {
  // Scale up by 500%
  transform: scale(5);
}

// Access the SVG via ::ng-deep selector
.container {
  ::ng-deep {
    .styled-icon {
      use {
        fill: orange; /* evergreen browser symbol styling */
        stroke: black;
      }
    }
  }
}

.icon-change-size {
  ::ng-deep {
    svg {
      transition: all linear 0.2s;
      transform-origin: top center;
    }
  }
}

.headline-green {
  color: #1E8449;
  animation: pulse 5s infinite;
}
