<div>
  <h1>
    Welcome to {{ title }} (package development app)
  </h1>

  <h2>Usage</h2>

  <p>
    run <code>npm run create-icon-sprite</code> to create a sprite out of your SVG icons,
    then run <code>npm run packagr</code> to create the svg-icon-sprite package that will appear in the dist folder.
  </p>

  <h2>Examples</h2>

  <ul>
    <li style="color: darkred;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star'" [width]="'100px'"></svg-icon-sprite>
      <span>red, 100px</span>
    </li>
    <li style="color: darkgreen;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#delete'" [width]="'90px'" [height]="'80px'"></svg-icon-sprite>
      <span>green, 90px</span>
    </li>
    <li>
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star'" [classes]="'some-icon-class'"></svg-icon-sprite>
      <span>global styles by <code>::ng-deep</code><br>orange, 75px</span>
    </li>
  </ul>


  <h2>ViewBox Example</h2>
  <ul>
    <li style="color: magenta;">
      <svg-icon-sprite [src]="'assets/sprites/sprite.svg#star-no-viewBox'" [width]="'80px'" [viewBox]="'0 0 24 24'"></svg-icon-sprite>
      <span>magenta 80px,<br>viewBox <code>'0 0 24 24'</code></span>
    </li>
  </ul>

</div>

<p>
  <small>Copyright Jan Suwart, MIT license</small>
</p>
