html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  color: #24292e;
}
.container {
  max-width: 1200px;
  padding: 0 8% 0 8%;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
p {
  margin-top: 5px;
  margin-bottom: 15px;
}
a {
  color: steelblue;
  text-decoration: none;
}
button, input, select {
  font-size: 14px;
  line-height: 1.5;
}
label {
  font-size: 85%;
  font-weight: 600;
}
pre {
  padding: 10px;
  margin: 0;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  background-color: lightgoldenrodyellow;
  color: darkslategrey;
  font-family: Courier, monospace;
  overflow: auto;
}
code {
  line-height: 1.45;
  background-color: lavender;
  font-family: Courier, monospace;
}
small {
  font-size: 80%;
  color: #555;
}

ul {
  &.vertical {
    list-style: none;
    padding: 0;

    li {
      margin: 10px;
      display: flex;

      .icon-row {
        display: flex;
        justify-content: center;
        width: 25%;
      }

      pre {
        width: 75%;
      }

      .pre-vertical {
        width: 75%;
        flex-direction: column;

        pre {
          width: auto;
          margin-bottom: 5px;
        }
      }
    }
  }
}


ul.inline {
  list-style: none;
  padding: 0;
}

ul.inline li {
  display: inline-block;
  padding: 30px;
}

ul.inline li span {
  display: block;
}
